extends layout

block content
  h1= title

  ul
    - authors.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each author in authors
      li
        a(href=author.url) #{author.name}
        |  (#{author.lifespan})

    else
      li There are no author.